
.wrapper {
  align-content: center;
  margin-top: 20rem;
  width: 25rem;
  height: 26rem;
  border-radius: 12px;
  text-align: center;
  background-color: #404040;

  h1 {
    color: white;
    margin-bottom: 2rem;
  }

  input {
    margin-bottom: 1rem;
  }

}
